/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8c1007; 
  padding: 20px;
  font-size: 50px
}
h1 {
  font-size: 40px;
  font-color: white;
}
h2 {
  font-color: #6e0c04;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6e0c04; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #6e0c04;
}

li a:hover {
  background-color: #8c1007;
}


main {
  padding: 20px;
}
